h4 {
    color: dimgray;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    text-align: center;
}

h3 {
    background-color: gray;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: justify;
    text-indent: 5px;
}

p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: justify;
}

hr{
    border-width:medium;
}
